
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
  
  <div id="app">
    <ul>
      <li v-for="item in items" :key="item.name">
        {{ item.name }} の個数 : <input type="number" v-model="item.quantity" min="0">
      </li>
    </ul>
    <hr>
    
    <div :style="errorMsgStyle">
      <ul>
        <li v-for="item in items" :key="item.name">
          {{ item.name }} : {{ item.price }} * {{ item.quantity }} = {{ item.price * item.quantity }}
        </li>
      </ul>
      <p>{{ items[0].name }}:{{ items[0].price }} * {{ items[0].quantity }}</p>
      <p>小計 {{ totalPrice | numberWithDelimiter }}</p>
      <p>合計 {{ totalPriceWithTax | numberWithDelimiter }}</p>
      <p v-show="!canBuy">{{ 1000 | numberWithDelimiter }}円以上からご購入頂けます</p>
      <button :disabled="!canBuy" @click="doBuy">購入</button>
    </div>
  </div>

  <script src="app.js"></script>

  </body>

</html>

  