<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router@3.0.1"></script>
</head>

<body>

  <div id="app">
    <nav>
      <router-link to="/top">Top page</router-link>
      <router-link to="/users">Users page</router-link>
    </nav>
    <router-link :to="{ name:'user', params: {userId: 123} }">Users page</router-link>
    <router-view></router-view>
  </div>

  <script type="text/x-template" id="user-list">
    <div>
      <div class="loading" v-if="loading">Loading now...</div>
      <div v-if="error" class="error">
        {{ error }}
      </div>
      <div v-for="user in users" :key="user.id">
        <h2>{{ user.name }}</h2>
      </div>
    </div>
  </script>

</body>
<script src="route.js"></script>
</html>
