<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router@3.0.1"></script>
</head>

<body>

  <div id="app">
    <nav>
      <router-link to="/top">Top page</router-link>
      <router-link to="/users">Users page</router-link>
      <router-link to="/users/new?redirect=true">Users create page</router-link>
    </nav>
    <!-- <router-link :to="">Users page</router-link> -->
    <router-view></router-view>
  </div>

  <script type="text/x-template" id="user-list">
    <div>
      <div class="loading" v-if="loading">Loading now...</div>
      <div v-if="error" class="error">
        {{ error }}
      </div>
      <div v-for="user in users" :key="user.id">
        <router-link :to="{path:'users/' + user.id}">{{ user.name }}</router-link>
      </div>
    </div>
  </script>

  <script type="text/x-template" id="user-detail">
    <div>
      <div class="loading" v-if="loading">Loading now...</div>
      <div v-if="error" class="error">
        {{ error }}
      </div>
      <div v-if="user">
        
        <h2>{{ user.name }}</h2>
        <p>{{ user.description }}</p>
      </div>
    </div>
  </script>

  <script type="text/x-template" id="user-create">
    <div>
      <div class="sending" v-if="sending">Sending...</div>
      <div>
        <h2>Create User</h2>
        <div>
          <label for="">Name:</label>
        <input type="text" v-model="user.name">
      </div>
      <div>
        <label for="">Discription:</label>
        <textarea v-model="user.description" name="" id="" cols="30" rows="10"></textarea>
      </div>
      <div v-if="error" class="error">
        {{ error }}
      </div>
      <div>
        <input type="button" @click="createUser" value="Send">
      </div>
    </div>
  </div>
  </script>

</body>
<script src="route.js"></script>
</html>
